
\.settings/

\.project

\.cproject

*.so

build/src/8mode\.cpp\.d

build/src/8mode\.cpp\.o

build/src/sn76477\.cpp\.d

build/src/sn76477\.cpp\.o

build/src/SNsoft\.cpp\.d

build/src/SNsoft\.cpp\.o

build/src/widgets\.cpp\.d

build/src/widgets\.cpp\.o

dist/8Mode-0\.6\.0-lin\.zip

dist/8Mode/LICENSE

dist/8Mode/res/8Mode_Knob1\.svg

dist/8Mode/res/8Mode_ss_0\.svg

dist/8Mode/res/8Mode_ss_1\.svg

dist/8Mode/res/SNsoft_Panel\.svg
